.anchor{
	width:100%;
	ul{
		display: flex;
		flex-wrap: wrap;
		padding-top: 0.36rem;
		li{
			width:(100%)/4;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		i.iconfont{
			font-size: 0.6rem;
			color:#cd3d3d;
			margin-bottom:0.16rem;
		}
		span{
			font-size:#7c807f;
			margin-bottom:0.3rem;
		}
	}
	.swiper-pagination{
		margin-top:0.3rem;
		position: relative;
		height:0.4rem;
		.swiper-pagination-bullet-active{
			background: #cd3d3d;
		}
	}
	.log{
		width:100%;
		height:1.68rem;
		padding:0 0.22rem;
		margin-bottom:0.4rem;
		dl{
			width:100%;
			height: 100%;
			border:solid 1px #ccc;
			padding:0.15rem 0.1rem 0.15rem 0.42rem;
		}
		dt{
			float:right;
			width:2.55rem;
			height:100%;
			img{
				width: 100%;
			}
		}
		dd{
			height:100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		h3{
			line-height: 0.5rem;
			font-size:0.34rem;
			font-weight: normal;
		}
		p{
			font-size:0.22rem;
			line-height: 0.4rem;
			color:#686a69;
			span{
				color:#cd3d3d;
			}
		}
	}
	.tit{
		width:100%;
		height: 1.06rem;
		padding:0 0.22rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom:solid 1px #dadedd;
		span{
			height: 0.4rem;
			line-height: 0.4rem;
			border-left:solid 0.06rem #c8393b;
			display: block;
			text-indent: 0.14rem;
			font-size:0.36rem;
		}
	}
	.main-list{
		width:100%;
		padding-left:0.22rem;
		dl{
			width:100%;
			height:1.47rem;
		}
		dt{
			width:1.23rem;
			padding:0.10rem 0;
			margin-right:0.22rem;
			float:left;
			img{
				width:100%;
				display: block;
			}
		}
		dd{
			height:100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			border-bottom: solid 1px #dadedd;
		}
		b{
			font-size: 0.3rem;
			line-height: 0.54rem;
			font-weight:normal;
		}
		p{
			font-size: 0.22rem;
			line-height: 0.45rem;
			color:#8a898a;
		}
	}
}